body * {
    margin: 0;
    border: 0;
    padding: 0;
    }
  
img {
    max-width: 100%;
    max-height: 100%;
   }

.logo {
    height: 38px;
    width: 38px;
   }

.imgFooter, .iconos img{
   height: 25px;
   width: 30px;   

/*    filter: invert(100%); */
}

.txtFooter{
    color: white;
    font-weight: 400;
    font-size: 2.5em;
    margin-bottom: 0.25em;
}

.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 8vh;
  }
  a {
    text-decoration: none;
  }
